<h1></h1>

<form asp-action="Solve">
    <div class="row">
        <div class="col">
            <input type="text" name="userInput1" value="Enter Number" />
        </div>
        <div class="col">
            <input type="text" name="userInput2" value="Enter Number" />
        </div>
        <div class="col">
            <button type="submit" class="btn btn-outline-danger">Push</button>
        </div>
    </div>
</form>

<div class="row">
    <div class="col">
        <p></p>
    </div>
</div>
